.price{
  margin: 5rem 0;
  background-color: white !important;
}

.card{
  box-shadow: 0px 5px 13px 2px rgba(34, 60, 80, 0.2);
  &__table{
    width: 100%;
  }
  &__img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center center;
  }
  &__title{
    text-align: center;
    margin: 0 !important;
    padding: 10px 0;
    border-bottom: 1px solid var(--main-color);
    color: var(--text-color) !important;
  }
}

thead th{
  color: var(--text-color);
  font-size: 1.5em;
  padding: 10px 0;
}

tbody tr:nth-child(odd) {
  background-color: #bc986a79;
}

tbody td{
  font-size: 1.2em;
  padding: 5px 30px;
}

@media screen and (max-width: 976px) {
  .price__col{
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }
}